In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Pokemon.csv", index_col='#')
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Lets look how we can use Strings in Pandas

In [4]:
df['Name'].upper() # Doesn't work

AttributeError: 'Series' object has no attribute 'upper'

In [5]:
df['Name'].astype(str).upper() # Doesn't work either

AttributeError: 'Series' object has no attribute 'upper'

In [6]:
# This is how it works
df['Name'].str.upper()

#
1                  BULBASAUR
2                    IVYSAUR
3                   VENUSAUR
3      VENUSAURMEGA VENUSAUR
4                 CHARMANDER
               ...
719                  DIANCIE
719      DIANCIEMEGA DIANCIE
720      HOOPAHOOPA CONFINED
720       HOOPAHOOPA UNBOUND
721                VOLCANION
Name: Name, Length: 800, dtype: object

So, every time you want to use string method it is important to use .str first

In [7]:
df['Attack'].str.upper() # Doesn't work with non string values

AttributeError: Can only use .str accessor with string values!

In [8]:
df['Name'].str.lower()

#
1                  bulbasaur
2                    ivysaur
3                   venusaur
3      venusaurmega venusaur
4                 charmander
               ...
719                  diancie
719      dianciemega diancie
720      hoopahoopa confined
720       hoopahoopa unbound
721                volcanion
Name: Name, Length: 800, dtype: object

In [9]:
df['Name'].str[::-1] # reverse the sting

#
1                  ruasabluB
2                    ruasyvI
3                   ruasuneV
3      ruasuneV ageMruasuneV
4                 rednamrahC
               ...
719                  eicnaiD
719      eicnaiD ageMeicnaiD
720      denifnoC apooHapooH
720       dnuobnU apooHapooH
721                noinacloV
Name: Name, Length: 800, dtype: object

Can also be used for filtering

In [10]:
x_filter = df['Name'].str.contains('q', case=False) # Whether to ignore case or not
# above we are checking if Name column contains a certain value or not.
# so we are checking if string contains q letter or not, and case=False defines that 
# it shouldn't be case sensitive.(means - q and Q both are going to be treated as same character)
df[x_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
284,Masquerain,Bug,Flying,414,70,60,62,80,82,60,3,False
384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
520,Tranquill,Normal,Flying,358,62,77,62,50,42,65,5,False
651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False