In [2]:
import pandas as pd

In [5]:
new_df = pd.read_csv("Pokemon.csv")
new_df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Now, I will try to get unique Type2 column value of those Pokemons.
I can do this with unique function.
`Syntax` - df["col_name"].unique()

In [7]:
# Getting unique Type 2
new_df["Type 2"].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

Now, If I want to find some particular value, like -> Where Pokemon got 100 Attack, So in that case we can use `query` function

In [13]:
# Lets check how we can use this query function
new_df.query?

Signature: new_df.query(expr: 'str', *, inplace: 'bool' = False, **kwargs) -> 'DataFrame | None'
Docstring:
Query the columns of a DataFrame with a boolean expression.

Parameters
----------
expr : str
    The query string to evaluate.

    You can refer to variables
    in the environment by prefixing them with an '@' character like
    ``@a + b``.

    You can refer to column names that are not valid Python variable names
    by surrounding them in backticks. Thus, column names containing spaces
    or punctuations (besides underscores) or starting with digits must be
    surrounded by backticks. (For example, a column named "Area (cm^2)" would
    be referenced as ```Area (cm^2)```). Column names which are Python keywords
    (like "list", "for", "import", etc) cannot be used.

    For example, if one of your columns is called ``a a`` and you want
    to sum it with ``b``, your query should be ```a a` + b``.

inplace : bool
    Whether to modify the DataFrame rather than creating a new one.
**kwargs
    See the documentation for :func:`eval` for complete details
    on the keyword arguments accepted by :meth:`DataFrame.query`.

Returns
-------
DataFrame or None
    DataFrame resulting from the provided query expression or
    None if ``inplace=True``.

See Also
--------
eval : Evaluate a string describing operations on
    DataFrame columns.
DataFrame.eval : Evaluate a string describing operations on
    DataFrame columns.

Notes
-----
The result of the evaluation of this expression is first passed to
:attr:`DataFrame.loc` and if that fails because of a
multidimensional key (e.g., a DataFrame) then the result will be passed
to :meth:`DataFrame.__getitem__`.

This method uses the top-level :func:`eval` function to
evaluate the passed query.

The :meth:`~pandas.DataFrame.query` method uses a slightly
modified Python syntax by default. For example, the ``&`` and ``|``
(bitwise) operators have the precedence of their boolean cousins,
:keyword:`and` and :keyword:`or`. This *is* syntactically valid Python,
however the semantics are different.

You can change the semantics of the expression by passing the keyword
argument ``parser='python'``. This enforces the same semantics as
evaluation in Python space. Likewise, you can pass ``engine='python'``
to evaluate an expression using Python itself as a backend. This is not
recommended as it is inefficient compared to using ``numexpr`` as the
engine.

The :attr:`DataFrame.index` and
:attr:`DataFrame.columns` attributes of the
:class:`~pandas.DataFrame` instance are placed in the query namespace
by default, which allows you to treat both the index and columns of the
frame as a column in the frame.
The identifier ``index`` is used for the frame index; you can also
use the name of the index to identify it in a query. Please note that
Python keywords may not be used as identifiers.

For further details and examples see the ``query`` documentation in
:ref:`indexing <indexing.query>`.

*Backtick quoted variables*

Backtick quoted variables are parsed as literal Python code and
are converted internally to a Python valid identifier.
This can lead to the following problems.

During parsing a number of disallowed characters inside the backtick
quoted string are replaced by strings that are allowed as a Python identifier.
These characters include all operators in Python, the space character, the
question mark, the exclamation mark, the dollar sign, and the euro sign.
For other characters that fall outside the ASCII range (U+0001..U+007F)
and those that are not further specified in PEP 3131,
the query parser will raise an error.
This excludes whitespace different than the space character,
but also the hashtag (as it is used for comments) and the backtick
itself (backtick can also not be escaped).

In a special case, quotes that make a pair around a backtick can
confuse the parser.
For example, ```it's` > `that's``` will raise an error,
as it forms a quoted string (``'s > `that'``) with a backtick inside.

See also the Python documentation about lexical analysis
(https://docs.python.org/3/reference/lexical_analysis.html)
in combination with the source code in :mod:`pandas.core.computation.parsing`.

Examples
--------
>>> df = pd.DataFrame({'A': range(1, 6),
...                    'B': range(10, 0, -2),
...                    'C C': range(10, 5, -1)})
>>> df
   A   B  C C
0  1  10   10
1  2   8    9
2  3   6    8
3  4   4    7
4  5   2    6
>>> df.query('A > B')
   A  B  C C
4  5  2    6

The previous expression is equivalent to

>>> df[df.A > df.B]
   A  B  C C
4  5  2    6

For columns with spaces in their name, you can use backtick quoting.

>>> df.query('B == `C C`')
   A   B  C C
0  1  10   10

The previous expression is equivalent to

>>> df[df.B == df['C C']]
   A   B  C C
0  1  10   10
File:      ~/.local/lib/python3.11/site-packages/pandas/core/frame.py
Type:      method

In [12]:
new_df.query('Attack == 100')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
73,67,Machoke,Fighting,NaN,405,80,100,70,50,60,45,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
138,128,Tauros,Normal,NaN,490,75,100,95,40,70,110,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
165,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False
200,185,Sudowoodo,Rock,NaN,410,70,100,115,30,65,30,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
271,251,Celebi,Psychic,Grass,600,100,100,100,100,100,100,2,False
298,275,Shiftry,Grass,Dark,480,90,100,60,90,60,80,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
361,330,Flygon,Ground,Dragon,520,80,100,80,80,80,100,3,False
368,336,Seviper,Poison,NaN,458,73,100,60,100,60,65,3,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True
427,385,Jirachi,Steel,Psychic,600,100,100,100,100,100,100,3,True
471,424,Ambipom,Normal,NaN,482,75,100,66,60,66,115,4,False
505,455,Carnivine,Grass,NaN,454,74,100,72,90,72,46,4,False
516,465,Tangrowth,Grass,NaN,535,100,100,125,110,50,50,4,False
529,477,Dusknoir,Ghost,NaN,525,45,100,135,65,135,45,4,False
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
548,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
553,494,Victini,Psychic,Fire,600,100,100,100,100,100,100,5,True
562,503,Samurott,Water,NaN,528,95,100,85,108,70,70,5,False
582,523,Zebstrika,Electric,NaN,497,75,100,63,80,63,116,5,False
598,538,Throh,Fighting,NaN,465,120,100,85,30,85,45,5,False
605,545,Scolipede,Bug,Poison,485,60,100,89,55,69,112,5,False
647,586,Sawsbuck,Normal,Grass,475,80,100,70,60,70,95,5,False
662,601,Klinklang,Steel,NaN,520,60,100,115,70,85,90,5,False
703,641,TornadusTherian Forme,Flying,NaN,580,79,100,80,110,90,121,5,True
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True

In [15]:
# we can use operators with query as well like -
new_df.query('Attack == 100 and HP == 100' )

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
165,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
271,251,Celebi,Psychic,Grass,600,100,100,100,100,100,100,2,False
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True
427,385,Jirachi,Steel,Psychic,600,100,100,100,100,100,100,3,True
516,465,Tangrowth,Grass,NaN,535,100,100,125,110,50,50,4,False
548,490,Manaphy,Water,NaN,600,100,100,100,100,100,100,4,False
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
553,494,Victini,Psychic,Fire,600,100,100,100,100,100,100,5,True